@import url(http://fonts.googleapis.com/css?family=Rubik+One);
@import url(http://fonts.googleapis.com/css?family=Nixie+One);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import "bootstrap";

@brand-blue-1: #327CCB;

body {
  background: @brand-blue-1;
  color: white;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
}

header.logo {
  img {
    width: 64px;
    height: 64px;
    margin-right: 14px;
  }
  h1 {
    display: inline-block;
    font-weight: normal;
    font-family: 'Rubik One', sans-serif;
  }

  ul.navbar-nav {
    li.active {
      border-bottom: 2px solid white;
    }

    & > li > a  {
      font-size: 18px;
      color: white;

      .glyphicon {
        line-height: 18px;
        margin-right: 0.5em;
      }

      &:hover {
        background-color: white;
        color: @brand-blue-1;
      }
    }
  }
}

.no-show {
  display: none;
}

canvas {
  border: 1px solid black;
}

canvas.mirror-image {
  -moz-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  transform: scale(-1, 1);
  filter: FlipH;
}

.scoreboard {
  max-height: 500px;
  overflow-y: scroll;
}

.timer {
  font-family: 'Nixie One', cursive;
  font-size: 144px;
}

.help {
  position: fixed;
  bottom: 50px;
}
